#sourceTable{
    position: absolute;
    left: 20%;
    width: 60%;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #f8f8f8;
    margin-top: 80px;
    border-radius: 15px;
}

#sourceTable tr th{
    text-align: left;
    
}
#sourceTable td{
    width: 300px;
}
